<!DOCTYPE html>
<html>
<title>Kisabucks</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous">
</script>
<style>
  html,body,h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto", sans-serif
  }
</style>

<body class="w3-white">

    <div class="w3-top">
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">
          <a href="#home" class="w3-bar-item w3-button"><b>KISABUCKS</b> </a>
          <!-- Float links to the right. Hide them on small screens -->
          <div class="w3-right w3-hide-small">
            <a href="#login" class="w3-bar-item w3-button">LOGIN</a>
            <a href="#signup" class="w3-bar-item w3-button">SIGNUP</a>
          </div>
        </div>
      </div>

  <!-- Page Container -->
  <div class="w3-content w3-padding" style="max-width:1400px; height:-webkit-fill-available;">

    <!-- The Grid -->
    <div class="w3-row-padding w3-padding-64">

      <!-- Left Column -->
      <div class="w3-third">

        <div class="w3-white w3-text-grey w3-card-4">
          <div class="w3-display-container">
            <div class="w3-display-left w3-container w3-text-black">
              <h2>카페명</h2>
            </div>

            <img src="#사진" style="width:100%" alt="사진">

          </div>
          <div class="w3-container">
            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-black"></i>위치</p>
            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-black"></i>전화번호</p>
            <hr>

            <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-black"></i>위치지도</b></p>

            <div class="w3-light-grey w3-round-xlarge w3-small">
              위치지도 보여줄 곳
            </div>
            <br>
          </div>
        </div><br>

        <!-- End Left Column -->
      </div>

      <!-- Right Column -->
      <div class="w3-twothird">

        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h4 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-black"></i>메뉴
            목록</h4>
          <div class="w3-container">
            <div class="w3-display-container">
              <div class="w3-display-left">메뉴명</div>
              <div class="w3-display-right">가격 </div>
              <!--for문으로 돌릴 예정 ajax 들어갈 부분-->
            </div>
            <hr>
          </div>
         
        </div>

        <!-- End Right Column -->
      </div>

      <!-- End Grid -->
    </div>

    <!-- End Page Container -->
  </div>

  <footer class="w3-center w3-black w3-padding-16">
      <!--<p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>-->
      <p>Copyright (c) KISABUCKS All rights reserved. <br>본 사이트에서 사용된 리소스는 모두 오픈소스임을 밝힙니다</p>
    </footer>
    

</body>

</html>